<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand"><i><strong>Geração de Questionários</strong></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Página Inicial</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">Sobre nós</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contactos</a>
        </li>
      </ul>

      <ul class="nav navbar-nav ml-auto">
<!-- Do not display this image at the moment
        {% if session.logged_in %}
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/dashboard">Os meus Questionários</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/logout">Terminar Sessão</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/register">Criar Conta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/login">Iniciar Sessão</a>
          </li>
        {% endif %}
-->
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/gen_quizz">Gerar Questionário</a>
        </li>
      </ul>

    </div>
  </div>
</nav>