<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
    {% include 'includes/_navbar.html' %}
    <div class ="container">
        {% include 'includes/_messages.html' %}
        <div class="jumbotron text-center">
            <h1>Geração Automática de Questionários em Português</h1>
            <p class="lead">Esta aplicação permite gerar questões a patir de textos Portugueses. Fase de Testes.</p>
            <a class="btn btn-success" href="/gen_quizz">Gerar Novo Questionário</a>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>